<% content_for(:js) do %>
  <script type="text/javascript">
    $(function(){
      App.initPageLayout(null, null, null, true); //should be called on top
    });
  </script>
<% end %>

<% content_for(:ui_center) do %>
  <h2 style="margin:25px 20px 5px 20px;"> Profile </h2>  

  <div class="col-md-6">
    <div class="card">
      <%= render "form" %>
    </div>
  </div>
<% end %>
