<ul class="list-unstyled smartrent-info" style="display:block;">
  <li>
    <label>Total:</label>
    <%= total_rewards %>
  </li>
  <li>
    <label>Monthly Awards:</label>
    <%= monthly_awards_amount %>
  </li>
  <li>
    <label>Sign-Up Bonus:</label>
    <%= sign_up_bonus %>
  </li>
  <li>
    <label>Initial Reward:</label>
    <%= initial_reward %>
  </li>
  <li>
    <a href="#" class="btn btn-primary btn-lg view-smartrent"> View Details</a>
  </li>
</ul>