<div class="well well-sm heading">Resident Units</div>

<ul class="nav nav-pills">
  <li>
    <a href="#current-units" data-toggle="tab" style="display:none">Current</a>
  </li>
  <li>
    <a href="#notice-units" data-toggle="tab" style="display:none">Notice</a>
  </li>
  <li>
    <a href="#future-units" data-toggle="tab" style="display:none">Future</a>
  </li>
  <li>
    <a href="#past-units" data-toggle="tab" style="display:none">Past</a>
  </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <ul class="tab-pane list-unstyled" id="current-units"> </ul>
  <ul class="tab-pane list-unstyled" id="notice-units"> </ul>
  <ul class="tab-pane list-unstyled" id="future-units"> </ul>
  <ul class="tab-pane list-unstyled" id="past-units"> </ul>
</div>