<div class="page-header">
  <h1> 
    <% if @custom_hylet.campaign %>
      Editing <b>Campaign's</b> Custom Hylet
    <% else %>
      Editing <b>Nimda's</b> Custom Hylet
    <% end %>
  </h1>
</div>

<% if @custom_hylet.campaign %>
  <%= link_to '<< Back', campaigns_nimda_custom_hylets_path %>
<% else %>
  <%= link_to '<< Back', nimda_custom_hylets_path(:type => @custom_hylet.kind_of?(NewsletterHylet) ? "email" : nil) %>
<% end %>

<br><br>

<%= render 'form' %>