<% content_for(:js) do %>
  <script type="text/javascript">
    
    function scheduleWrapAutoheight(){
      $('#schedule-wrap').css('maxHeight', (App.viewport.height() - App.viewport.find('.paging-info').outerHeight(true) - 120 ));
    }
      
    $(function(){
      
      App.initPageLayout(null, null, function(){  //should be called on top
        scheduleWrapAutoheight();
        $('#schedule-wrap table').floatThead('reflow');
      });
      
      scheduleWrapAutoheight();
      
      App.setupReportLoadMask();
    });
  </script>
<% end if !params[:print] %>

<% content_for(:top_bar) do %>
  <div id="top-bar">
    <%= render "nav" %>
  </div>
<% end %>

<% content_for(:ui_center) do %>
  <div id="analyze-pane" class="hidden-pane ui-layout-center">
    <div class="ui-layout-content">
      <div class="main-container card-container">
        <div id="report-header" class="has-h4">
          <%= link_to "Export", export_send_schedule_reports_path(@property), :class => "btn btn-default export" %>
          <h4> Emails Scheduled </h4>
          <div class="clear"></div>
        </div>
        
        <%= render "send_schedule" %>
      </div>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  $(function(){
  	
  	var container = $('#analyze-pane');
		
    container.on('click', '.calculate-size', function(){
  	  var link = $(this).text('Loading...'),
  	    tr = link.parent().parent();
  	  
      $.ajax({
  	    timeout: 29000,
        type: 'GET',
        data: {all: link.attr('data-audiences').split(","), detail: 1},
        url: "<%= raw size_page_audiences_path(@property) %>",
        dataType: 'json',
        success: function(data){
          link.parent().html(data.total);
          
          _.each(data.audiences, function(aud){
            tr.find('.size-' + aud.id).text('('+aud.count+')');
          });
        },
        error: function(jqXHR, textStatus, errorThrown){
          link.text('calculate size');
          
          if(textStatus==="timeout") {
             msgbox("Request Timeout! please try again!");
          }
        }
      });
      
  	  return false;
  	}).on('click', '.paging-info li:not(.disabled) a', function(){
      container.mask('Loading');
      
      $.get($(this).attr('href'), function(){
        container.unmask();
      }, 'script');
      
      return false;
      
    })
  	
    $('#schedule-wrap table').floatThead({
        scrollContainer: function($table){
       return $table.parent();
     }
    });
  });
</script>