<form class="roommate-form" onsubmit="return false;">
  <!-- checkbox workaround -->
  <input type="hidden" name="lessee" value="0"></input>
  <input type="hidden" name="arc_check" value="0"></input>
  
  <div class="row">
    <div class="col-md-6">
      <div data-fields="first_name,last_name,lessee,occupant_type,email,alt_email,ssn,status,move_in,move_out,relationship,office_phone,home_phone,fax,mobile"> </div>
    </div>
    <div class="col-md-6">
      <div data-fields="vehicle1,license1,employer,work_phone,work_hour,other1,other2,other3,other4,other5,arc_check,unit_id"> </div>
    </div>
  </div>
</form>