<form class="notification-form" onsubmit="return false;">
  <div class="row">
    <div class="col-sm-12">
      <div data-editors="message" class="form-group">
        <label class="control-label small"> Message: </label>
      </div>
    </div>
  </div>
  
  <!-- 
  <div class="row">
    <div class="col-sm-6">
      <div data-editors="category_id" class="form-group">
        <label class="control-label small"> Maintenance Category: </label>
      </div>
    </div>
    <div class="col-sm-6">
      <div data-editors="assignee_id" class="form-group">
        <label class="control-label small"> Assign To: </label>
      </div>
    </div>
  </div>
  -->
</form>