<div id="notification-search">
  <h3> Notification Search </h3>
  <form action="<%= App.vars.notificationsPath %>" id="notification-search-form">
    <div class="form-group">
      <input type="text" class="form-control" name="name" placeholder="Name"/>
    </div>
    
    <button type="submit" class="btn btn-default btn-block search">SEARCH</button>
  </form>
</div>