# This file will be overridden when deploy to EC2
development:
  adapter: mysql2
  host: localhost
  port: 3306
  database: crm_stage
  username: root
  password: 
  socket: /tmp/mysql.sock
test:
  adapter: mysql2
  host: localhost
  port: 3306
  database: crm_stage
  username: root
  password: root
  socket: /tmp/mysql.sock
