# This file will be overridden when deploy to EC2
development:
  sessions:
    default:
      database: crm-smartrent_stage
      hosts: 
        - localhost:27017
test:
  sessions:
    default:
      database: crm-smartrent_stage
      hosts: 
        - localhost:27017