<div class="listing">
  <% if (App.vars.ability.can("cud", "Property")) { %>
    <a href="<%= App.vars.propertiesPath %>/new" class="btn btn-primary add-new"> Add New Property </a>
  <% } %>
  <h4 class="total"> </h4>
  <div class="grid"></div>
  <div class="paginator"></div>
</div>
<div class="create-update"></div>