<div id="property-search">
  <h3> Property Search </h3>
  <form action="<%= App.vars.propertiesPath %>" id="property-search-form">
    <div class="form-group">
      <input type="text" class="form-control" name="name" value="" placeholder="Name"/>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" name="city" value="" placeholder="City"/>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" name="state" value="" placeholder="State"/>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" name="zip" value="" placeholder="Zip"/>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" name="elan_number" value="" placeholder="Elan Property Number"/>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" name="property_number" value="" placeholder="Bozzuto Property Number"/>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" name="l2l_property_id" value="" placeholder="L2L Property ID"/>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" name="yardi_property_id" value="" placeholder="Yardi Property ID"/>
    </div>
    <div class="form-group">
      <select class="form-control" name="property_type">
        <option value=""> Select Property Type </option>
        <option value="crm" selected="selected"> CRM Eligible Property </option>
        <option value="smartrent"> Smartrent Eligible Property</option>
      </select>
    </div>
    <button type="submit" class="btn btn-default btn-block search">SEARCH</button>
  </form>
</div>