<div id="campaign-search">
  <h3> Notices Search </h3>
  <form action="<%= App.vars.campaignsUrl %>" id="campaign-search-form">
    <div class="form-group">
      <input type="text" class="form-control" name="id" placeholder="Notice ID"/>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" name="subject" placeholder="Notice Subject"/>
    </div>
    <button type="submit" class="btn btn-default btn-block search">SEARCH</button>
  </form>
</div>

<div id="campaign-editor"> </div>