//bootstrap and hy.ly style use these colors

//main colors
@hylyColorDarker:           #222;
@hylyColorDark:             #3e3e3e;
@hylyColor:                 #555; //base color
@hylyColorLight:            #999;
@hylyColorish:              #dedede;
@hylyColorSubtle:           #f6f4f2;

//accent colors
@hylyWhite:                 #fff;
@hylyBlack:                 #424956;
@hylyBlue:                  #20bdec;
@hylyPurple:                #8666DA;
@hylyGreen:                 #4e9418;
@hylyYellow:                #f1ab24;
@hylyRed:                   #fa6d55;

@hylyHighlight:             #FFFDDD;
@hylyBlueDarker:            #759de5;
@fbBlue:                  #3B5998;

//report colors
@hylyTileOrange:            #FFA12D;
@hylyTileColorDarkest:      #0764A1;
@hylyTileColorDarker:       #5DABDB;
@hylyTileColorDark:         #6BB8E8;
@hylyTileColor:             #B6E2FB;
@hylyTileColorLight:        #C8E7FC;

//layouts
@hylyNavBg:                 #282829;
@hylyNavColor:              #8b8b91;
@hylyNavActiveColor:        #20bdec;
@hylyNavActiveBg:           #1d1c1d;
@hylyNavBorderColor:        #2e2e30;
@hylyNav2ndColor:           #5d5d5b;
@hylyNavSubtleColor:        #545457;
@hylyTopNavBg:              #393939;
@hylyFilterBg:              #ebebef;

@hylyCardBg:                rgba(255, 255, 255, 0.95);

//fonts
@hylyFont:            'Raleway',Helvetica,Arial,sans-serif;