<form>
  <div data-editors="from" class="form-group">
    <label class="control-label"> From </label>
  </div>
  <div data-editors="to" class="form-group">
    <label class="control-label"> To </label>
  </div>
  <div data-editors="cc" class="form-group">
    <label class="control-label"> CC </label>
    <a href="javascript:;" id="add-roommates">Add Roommates</a>
  </div>
  <div data-editors="subject" class="form-group">
    <label class="control-label"> Email Subject Line </label>
  </div>
  <div data-editors="message" class="form-group">
    <label class="control-label"> Message </label>
  </div>
  <button type="submit" class="btn btn-lg btn-success">Send</button>
  <a href="#" class="btn btn-default btn-lg cancel">Cancel</a>
</form>
