<div class="marketing-act">
  <div class="time">
    <%= Helpers.timeOrTimeAgo(created_at) %>
  </div>
  <div class="meta">
    <i class="<%= Helpers.activityIcon(action) %>"></i>
    <%= Helpers.formatMarketingNote(marketing.note) %>
  </div>
</div>