<div class="marketing-act">
  <div class="time">
    <%= Helpers.timeOrTimeAgo(created_at) %>
  </div>
  <div class="meta">
    <i class="<%= Helpers.activityIcon(action) %>"></i>
    <%= Helpers.formatMarketingNote(marketing.note) %>

    <% if (marketing.tour_time) { %>
      <br><small>Tour Time: <%= marketing.tour_time %></small>
    <% } %>
  </div>
</div>