<div class="note-act resident-box">
  <i class="fa fa-file-o"></i>
  <div class="author">
    <% if (author) { %>
      <a href="#"><%= author.full_name %></a>
    <% } else { %>
      <a href="#"><%= from %></a>
    <% } %>
    
    <%= Crm.Helpers.timeOrTimeAgo(created_at) %>
    
    <% if (App.vars.ability.can("cud", "ResidentActivity")) { %>
      <a href="#" class="delete"> <i class="fa fa-times"></i> </a>
    <% } %>
  </div>
  
  <div class="message">
    <%= Crm.Helpers.sanitize( note.message.replace(/(?:\n\r?|\r\n?)/g, '<br>') ) %>
  </div>
</div>