<form>
  <div data-editors="message" class="form-group"> </div>
  
  <button type="submit" class="btn btn-success btn-lg">Add Note</button>
  <a href="#" class="btn btn-default btn-lg cancel">Cancel</a>
</form>