<% content_for(:js) do %>
  <script type="text/javascript">
    $(function(){
      App.initPageLayout(); //should be called on top
    });
  </script>
<% end %>

<% content_for(:ui_west) do %>
  <%= render "campaign_reports/info" %>
<% end %>

<% content_for(:ui_center) do %>
  <div id="analyze-pane">
    <div class="ui-layout-content">
      <div class="main-container card-container">
        
        <% 
          dict = {
            "sends_count" => ["Sends", "Sends", "Send"],
            "unique_opens_count" => ["Unique Opens", "Unique Opens", "Unique Open"],
            "unique_clicks_count" => ["Unique Clicks", "Unique Clicks", "Unique Click"],
            "unsubscribes_count" => ["Unsubscribes", "Unsubscribes", "Unsubscribe"],
            "blacklisted_count" => ["Blacklisted", "Blacklisted", "Blacklisted"],
            "complaints_count" => ["Complaints", "Complaints", "Complaint"],
            "bounces_count" => ["Bounces", "Bounces", "Bounce"]
          }
          total_sends = nil
        %>

        <ul id="overview-container" class="tile-list list-unstyled">
          <% ["sends_count", "unique_opens_count", "unique_clicks_count", "unsubscribes_count",
                  "blacklisted_count", "complaints_count", "bounces_count"].each do |col| %>

            <% 
              total_sends = @campaign.sends_count
              col_count = @campaign.send(col)
            %>
            <%= render "newsletter_tile", :total => col_count, :conversion => conversion(col_count, total_sends), :name => dict[col], :col => col  %>

          <% end %>
        </ul>

      </div>
    </div>
  </div>
<% end %>